<%= form_for(@list) do |f| %>
  <% if @list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@list.errors.count, "error") %> prohibited this list from being saved:</h2>

      <ul>
      <% @list.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
	
	<fieldset>
		
  	<div class="field">
    	<%= f.label :name %><br />
    	<%= f.text_field :name %>
  	</div>
		
		<ul>
			<%= f.fields_for :items do |item| %>
			  <li>  
			    <%= item.label :content, "Item" %><br />  
			    <%= item.text_field :content %>
					<%= item.check_box :_destroy %>
					<%= item.label :_destroy, "Remove item" %>
			  </li>  
			<% end %>
		</ul>
	
	</fieldset>
		
  <div class="actions">
    <%= f.submit %>
  </div>
	
<% end %>
